/* ------------- GLOBAL STYLES ---------- */
/* styles available for all pages */
html, body {
    background: url('img/crossword.png');
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

h1, h2, h3, h4, .btn-default {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #7ABCE6;
    cursor: pointer;
}

a:hover {
    color: #7ABCE6;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.btn-default {
    background: rgba(0,0,0,0);
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: 2px 0px 2px #000;
    transition: color 1s, border-color 1s, border-top-color 1s;
}

.btn-default:hover,  {
    border-color: #0D5091;
    border-top-color: #0B9BD3;
}

.btn-default:hover, .sidebar li:hover, .sidebar .collapse li:hover, span.toggle-handle, .list-group-item:hover, #quest-sidebar.collapsed, #quest-sidebar.collapsed .panel-heading {
    background: -moz-linear-gradient(top, #0B9BD3, #0D5091);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #0B9BD3), color-stop(1.0, #0D5091));
    color: #FFF;
}

label.btn-default {
    box-shadow: none;
}

.btn-dark {
    border: 2px solid #FFF;
    color: #FFF;
}

.messages {
    color: #FF0000;
    margin-top: -10px;
}

/*  ----------- LOGIN PAGE --------- */
/* login form */
.auth {
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}

.loginWrapper {
    margin-top: 20%;
}

.login-form {
    background: rgba(0,0,0,0.6);
    color: #FFF;
    padding: 50px;
}

.login-form h1 {
    font-size: 3em;
    margin: -30px 0 40px;
    text-align: center;
    text-shadow: 4px 4px 1px #000;
}

.login-form label {
    font-size: 1.3em;
}

.withMargin input.form-control {
    margin-bottom: 10px;
}

.btn-block {
    margin-top: 20px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition: opacity 0.5s ease-out;
}

.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

/* signup modal */
.modal-body .form-group {
    margin-left: 0;
    margin-right: 0;
}

/* activate account */
.jumbotron {
    background: rgba(0,0,0,0.6);
    color: #FFF;
    margin-top: 25%;
    text-align: center;
}

/* ---------- APP PAGE ------------ */
/* some global */
.sidebar li, .page-head, #menu, #quest-sidebar .panel-heading {
    background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #F2F2F2));
}

/* sidebar */
.sidebar {
    background: url('img/crossword.png');
    border-right: 1px solid #CCC;
    color: #777;
    height: 100%;
    margin-left: -15px;
    position: fixed;
    width: 230px;
    z-index: 9999;
}

.sidebar li {
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    padding: 15px 25px;
}

.sidebar li.active, #collapseMenu li.active {
    background: rgba(0,0,0,0.6);
    color: #FFF;
}

.sidebar li i {
    font-size: 1.3em;
    padding-right: 10px;
}

.sidebar li i.fa-caret-down {
    float: right;
}

.sidebar .collapse li, .sidebar .collapsing li {
    background: rgba(0,0,0,0);
    font-size: 0.9em;
}

/* navbar */
.page-head {
    border-bottom: 1px solid #CCC;
    font-size: 1.5em;
    height: 50px;
    margin-left: 215px;
    padding: 10px 0 0 40px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.page-head i {
    padding-right: 10px;
}

.show-menu {
    color: #000;
    display: none;
    float: right;
    margin-right: 25px;
}

#menu {
    border-bottom: 1px solid #CCC;
    font-size: 0.8em;
    margin: 10px 0 0 -40px;
    width: 110%;
}

#menu li {
    padding: 5px 20px;
}

/* main area */
.main {
    margin: 70px 0 0 240px;
}

/* QUESTS */
#quest-sidebar, .list-group-item {
    background: rgba(0,0,0,0);
}

#quest-sidebar {
    border-radius: 0;
    border-top: none;
    border-left: none;
    height: 100%;
    margin-top: -20px;
    margin-left: -40px;
    position: fixed;
    width: 250px;
}

#quest-sidebar .panel-heading {
    height: 40px;
}

#quest-sidebar .panel-heading h4 {
    margin-top: 0;
}

#quest-sidebar .panel-heading i {
    cursor: pointer;
    float: right;
}

#quest-sidebar.collapsed .panel-body, #quest-sidebar.collapsed ul, #quest-sidebar.collapsed span {
    display: none;
}

#quest-sidebar.collapsed .panel-heading h4 {
    padding-left: 10px;
}

#quest-sidebar .panel-body {
    padding: 0;
}

#quest-content {
    margin-left: 250px;
}

#quest-sidebar input, #quest-sidebar select {
    border: none;
    border-radius: 0;
    color: #999;
}

#quest-sidebar input {
    border-bottom: 1px solid #F5F5F5;
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
}

/* QUESTS AND ADVENTURES CREATION */
.creation input, .creation textarea, .creation #datetimepicker, .creation .toggle {
    margin-bottom: 20px;
}

.creation  {
    padding: 15px 100px 15px 70px;
}

.bootstrap-datetimepicker-widget a {
    color: #000;
}

.alert-success {
    text-align: center;
    margin-top: 20px;
}

/*  MEDIA QUERIES */
/* for sidebar and content */
@media (max-width: 767px) {
    .col-sm-2 { display: none; }
    .main { margin-left: 0; }
    .page-head { margin-left: -15px; }
    .show-menu { display: inline; }
    .creation { padding: 0; }
}