/* ------------- GLOBAL STYLES ---------- */
/* styles that appear on multiple pages */
html, body {
    background: url('img/crossword.png');
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 100%;
}

h1, h2, h3, h4, .btn-default {
    font-family: 'Raleway', sans-serif;
}

a, .sidebar li, #quest-sidebar i, .list-group-item {
    cursor: pointer;
}

a, a:hover {
    color: #7ABCE6;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.btn-default {
    background: rgba(0,0,0,0);
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: 2px 0px 2px #000;
    transition: color 1s;
}

.btn-group .btn-default {
    box-shadow: none;
}

.btn-group:not(:last-child) .btn-default {
    border-right: none;
}

.btn-default:hover {
    border-color: #0D5091;
    border-top-color: #0B9BD3;
}

.btn-default:hover, .sidebar ul li:hover, .list-group-item:hover, #quest-sidebar.collapsed .panel-heading {
    background: linear-gradient(to bottom, #0B9BD3 0% ,#0D5091 100%);
    color: #FFF;
}

.btn-dark {
    border: 1px solid #FFF;
    color: #FFF;
}

.messages {
    color: #F00;
    margin-top: -5px;
}

.login-form, .jumbotron, .sidebar ul li.active {
    background: rgba(0,0,0,0.6);
    color: #FFF;
}

.very-big {
    color: #F8F8F8;
    font-size: 7em;
    position: relative;
    text-align: center;
    text-shadow: 0 0 1px #000;
    top: 100px;
}

.animate-if.ng-enter, .animate-if.ng-leave, .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all 0.5s;
}

.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active, .animate-show.ng-hide {
    opacity: 0;
}

.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active, .animate-show {
    opacity: 1;
}

/*  ----------- LOGIN PAGE --------- */
/* login form */
.auth {
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}

.login-wrapper, .jumbotron {
    margin-top: 20%;
}

.login-form {
    padding: 50px;
}

.login-form h1 {
    margin: -30px 0 40px;
    text-align: center;
    text-shadow: 4px 4px 1px #000;
}

.login-form label {
    font-size: 1.2em;
}

.with-margin input.form-control {
    margin-bottom: 10px;
}

.btn-block {
    margin-top: 20px;
}

/* signup modal */
.modal-body .form-group {
    margin-left: 0;
    margin-right: 0;
}

/* ---------- APP PAGE ------------ */
/* some global */
.sidebar li, .page-head, #menu, #quest-sidebar .panel-heading {
    background: linear-gradient(to bottom, #FFF 0%, #F2F2F2 100%);
}

/* sidebar */
.sidebar {
    background: url('img/crossword.png');
    border-right: 1px solid #CCC;
    color: #777;
    height: 100%;
    margin-left: -15px;
    position: fixed;
    width: 210px;
    z-index: 9999;
}

.sidebar li {
    border-bottom: 1px solid #CCC;
    padding: 15px 20px;
}

.sidebar li i {
    font-size: 1.2em;
    padding-right: 10px;
}

.sidebar li i.fa-caret-down {
    float: right;
}

.sidebar .collapse li, .sidebar .collapsing li {
    background: rgba(0,0,0,0);
    font-size: 0.9em;
}

/* navbar */
.page-head {
    border-bottom: 1px solid #CCC;
    font-size: 1.4em;
    height: 48px;   
    margin-left: 195px;
    padding: 10px 0 0 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.page-head i {
    padding-right: 10px;
}

.show-menu {
    color: #000;
    display: none;
    float: right;
    margin-right: 20px;
}

#menu {
    border-bottom: 1px solid #CCC;
    font-size: 0.8em;
    margin: 10px 0 0 -40px;
}

#menu li {
    padding: 5px 20px;
}

/* main area */
.main {
    margin: 70px 0 0 220px;
}

/* QUESTS */
#quest-sidebar, .list-group-item {
    background: rgba(0,0,0,0);
}

#quest-sidebar {
    border-radius: 0;
    border-top: none;
    border-left: none;
    height: 100%;
    margin-top: -20px;
    margin-left: -40px;
    position: fixed;
    transition: width 1s;
    width: 250px;
}

#quest-sidebar.collapsed {
    width: 30px;
}

#quest-sidebar .panel-heading {
    height: 35px;
}

#quest-sidebar .panel-heading h4 {
    margin-top: 0;
}

#quest-sidebar .panel-heading i {
    float: right;
}

#quest-sidebar i.fa-chevron-right {
   float: none;
}

#quest-sidebar .panel-body {
    padding: 0;
}

#quest-content {
    margin-left: 230px;
    transition: margin-left 1s;
}

#quest-content.collapsed {
    margin-left: 30px;
}

#quest-sidebar input, #quest-sidebar select {
    border: none;
    color: #999;
}

#quest-sidebar input {
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
}

#quest-sidebar .list-group-item {
    border-bottom: 1px solid #DDD;
    border-radius: 0;
}

#quest-sidebar label {
    padding: 3px 6px 0;
    font-weight: normal;
}

#quest-sidebar label input {
    margin-right: 3px;
}

.description {
    text-align: justify;
    white-space: pre-line;
}

/* QUESTS AND ADVENTURES CREATION */
.creation input, .creation textarea, .creation #datetimepicker {
    margin-bottom: 20px;
}

.creation .messages {
    margin-top: -15px;
}

.creation  {
    padding: 15px 100px 15px 70px;
}

.bootstrap-datetimepicker-widget a {
    color: #000;
}

p.padded {
    padding-top: 7px;
}

.alert-success {
    text-align: center;
    margin-top: 20px;
}

.date-picker-menu table button {
    border: none;
}

.datetime-picker-dropdown button {
    box-shadow: none;
}

/*  MEDIA QUERIES */
/* for sidebar and content */
@media (max-width: 767px) {
    .col-sm-2 { display: none; }
    .main { margin-left: 0; }
    .page-head { margin-left: -15px; }
    .show-menu { display: inline; }
    .creation { padding: 0; }
    #quest-sidebar label { margin-left: 5px;}
}

@media (max-height: 750px) {
    .login-wrapper, .jumbotron { margin-top: 10%; }
    .very-big { font-size: 5em; top: 50px; }
}