<section class="auth">
    <div class="container">
        <div class="row login-wrapper">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal login-form" ng-submit="login(loginData, errors)">
                    <h1 class="centered">openquest</h1>
                    <div class="form-group with-margin">
                        <label class="col-md-3 control-label" for="user">E-mail: </label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="user" ng-model="loginData.email">
                        </div>
                        <label class="col-md-3 control-label" for="password">Password: </label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="password" ng-model="loginData.password">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default btn-lg btn-block btn-dark">Login</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-if="errors.login"><center>{{errors.login}}</center></div>
                    <center><a ng-click="openModal()">Don't have an account? Sign up here!</a></center>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="authModal.html">
    <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">New account</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form class="form-horizontal" ng-submit="signup(signupData, errors, signupForm.$valid)" name="signupForm" novalidate>
                <div class="form-group with-margin">
                    <label class="col-md-3 control-label" for="user">E-mail: </label>
                    <div class="col-md-9">
                        <input 
                            class="form-control" 
                            id="user" 
                            name="email" 
                            ng-model="signupData.email" 
                            required
                            type="email">
                        <div 
                            class="messages"
                            ng-messages="signupForm.email.$error" 
                            ng-show="signupForm.email.$touched || signupForm.$submitted">
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                    <label class="col-md-3 control-label" for="password">Password: </label>
                    <div class="col-md-9">
                        <input 
                            class="form-control" 
                            id="password" 
                            name="password" 
                            ng-minlength="8" 
                            ng-model="signupData.password" 
                            required
                            type="password">
                        <div 
                            class="messages"
                            ng-messages="signupForm.password.$error" 
                            ng-show="signupForm.password.$touched || signupForm.$submitted"> 
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                    <label class="col-md-3 control-label" for="repeatPassword">Repeat password: </label>
                    <div class="col-md-9">
                        <input 
                            class="form-control" 
                            compare-to="signupData.password"
                            id="repeatPassword" 
                            name="confirmPassword" 
                            ng-model="signupData.repeatPassword" 
                            required 
                            type="password"> 
                        <div 
                            class="messages"
                            ng-messages="signupForm.confirmPassword.$error" 
                            ng-show="signupForm.confirmPassword.$touched || signupForm.$submitted"> 
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default btn-lg btn-block">Create account</button>
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="errors.signup"><center>{{errors.signup}}</center></div>
                <div class="alert alert-success" ng-if="errors.signupSuccess"><center>{{errors.signupSuccess}}</center></div>
            </form>
        </div>
    </div>
</script>