<section class="auth">
    <div class="container">
        <div class="row loginWrapper">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal login-form" ng-submit="login(loginData, errors)">
                    <h1>openquest</h1>
                    <div class="form-group withMargin">
                        <label class="col-md-3 control-label" for="user">E-mail: </label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="user" ng-model="loginData.email">
                        </div>
                        <label class="col-md-3 control-label" for="password">Password: </label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="password" ng-model="loginData.password">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default btn-lg btn-block btn-dark">Login</button>
                        </div>
                    </div>
                    <div class="alert alert-danger animate-if" ng-if="errors.login"><center>{{errors.login}}</center></div>
                    <center><a data-toggle="modal" data-target="#signupModal">Don't have an account? Sign up here!</a></center>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" id="signupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">New account</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal" ng-submit="signup(signupData, errors, signupForm.$valid)" name="signupForm" novalidate>
                        <div class="form-group withMargin">
                            <label class="col-md-3 control-label" for="user">E-mail: </label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" id="user" ng-model="signupData.email" name="email" required>
                                <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched" class="messages">
                                    <p ng-message="email">Please provide a valid email address</p>
                                    <p ng-message="required">You need to provide an email address</p>
                                </div>
                            </div>
                            <label class="col-md-3 control-label" for="password">Password: </label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" id="password" ng-model="signupData.password" name="password" ng-minlength="8" required>
                                <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched" class="messages">
                                    <p ng-message="minlength">Your password must be at least 8 characters long</p>
                                    <p ng-message="required">You need to provide a password</p>
                                </div>
                            </div>
                            <label class="col-md-3 control-label" for="repeatPassword">Repeat password: </label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" id="repeatPassword" ng-model="signupData.repeatPassword" name="confirmPassword" required compare-to="signupData.password">
                                <div ng-messages="signupForm.confirmPassword.$error" ng-if="signupForm.confirmPassword.$touched" class="messages">
                                    <div ng-message="compareTo">The passwords don't match</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default btn-lg btn-block">Create account</button>
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-if="errors.signup"><center>{{errors.signup}}</center></div>
                        <div class="alert alert-success" ng-if="errors.signupSuccess"><center>{{errors.signupSuccess}}</center></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>