<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-1">
            <div class="sidebar">
                <ul>
                    <li ui-sref="main.dashboard" ui-sref-active="active"><i class="fa fa-home"></i>Dashboard</li>
                    <li ui-sref="main.quests" ui-sref-active="active"><i class="fa fa-flag"></i>Quests</li>
                    <li ui-sref="main.adventures" ui-sref-active="active"><i class="fa fa-fort-awesome"></i>Adventures</li>
                    <li data-toggle="collapse" data-target="#collapse-menu">
                        <i class="fa fa-plus"></i>Create...</a><i class="fa fa-caret-down"></i>
                    </li>
                    <ul class="collapse" id="collapse-menu">
                        <li ui-sref="main.questCreation" ui-sref-active="active">a quest</li>
                        <li ui-sref="main.adventureCreation" ui-sref-active="active">an adventure</li>
                    </ul>
                    <li ui-sref="main.settings" ui-sref-active="active"><i class="fa fa-wrench"></i>Settings</li>
                    <li ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</li>
                </ul>
            </div>
        </div>
        <div class="col md-10 col-sm-12 col-xs-12">
            <ui-view></ui-view>
        </div>
    </div>
</div>