<div ng-repeat="quest in quests | filter: {id: selectedQuest}">
    <!-- TITLE -->
    <div class="centered" ng-mouseover="edit.on = 'title'" ng-mouseout="edit.on = false">
        <h1 ng-if="edit.prop != 'title'">{{quest.name}}</h1>
        <em ng-show="edit.on == 'title' && !edit.prop" ng-click="edit.prop = 'title'">edit&nbsp;
            <i class="fa fa-pencil-square-o"></i>
        </em>
        <form 
            name="titleEdit" 
            ng-if="edit.prop == 'title'" 
            ng-submit="updateEntity('quests', quest.id, 'name', value, titleEdit.$valid)"
            novalidate> 
            <input 
                name="title" 
                ng-maxlength="50" 
                ng-minlength="2"
                ng-model="value" 
                placeholder="{{quest.name}}"
                required 
                type="text"> 
            <button class="input-button">
                <i class="fa" ng-class="{'fa-check': titleEdit.$valid, 'fa-times': !titleEdit.$valid}"></i>
            </button>
            <div class="messages" ng-messages="titleEdit.title.$error">
                <div ng-messages-include="views/messages.html"></div>
            </div>
        </form>
    </div> <!-- /title -->
    
    <!-- DESCRIPTION -->
    <div class="page-header"><h5>Description</h5></div>
    <div ng-mouseover="edit.on = 'description'" ng-mouseout="edit.on = false">
        <div 
            class="description" 
            ng-bind-html="quest.description | linky : '_blank'"
            ng-if="edit.prop != 'description'">
        </div>
        <em 
            ng-click="edit.prop = 'description'"
            ng-show="(edit.on === 'description' && !edit.prop) || !quest.description">edit&nbsp; 
            <i class="fa fa-pencil-square-o"></i>
        </em>
        <form
            name="descriptionEdit"
            ng-if="edit.prop == 'description'"
            ng-submit="updateEntity('quests', quest.id, 'description', value)">
            <textarea 
                class="form-control bottom-margin"
                ng-init="value = quest.description"
                ng-model="value" 
                rows="5">
            </textarea>
            <button type="submit"><i class="fa fa-check"></i></button>
            <button type="button" ng-click="edit.prop = false"><i class="fa fa-times"></i></button>
        </form>
    </div> <!-- /description -->
    
    <div class="page-header"><h5>Details</h5></div>
    
    <!-- CATEGORY -->
    <div class="bottom-margin" ng-mouseover="edit.on = 'category'" ng-mouseout="edit.on = false">
        <strong>Category</strong>: <oq-label quest="quest" ng-if="edit.prop != 'category'"></oq-label>
        <em ng-show="edit.on === 'category' && !edit.prop" ng-click="edit.prop = 'category'">edit&nbsp; 
            <i class="fa fa-pencil-square-o"></i>
        </em>
        <select
            ng-change="updateEntity('quests', quest.id, 'category', value)"
            ng-if="edit.prop == 'category'"
            ng-model="value"
            ng-options="category.id as category.name for category in categories">
        </select>
    </div> <!-- /category -->
    
    <!-- ADVENTURE -->
    <div class="bottom-margin" ng-mouseover="editIcon = 'adventure'" ng-mouseout="editIcon = false">
        <strong>Adventure</strong>: {{quest.adventure || 'none'}}
        <!--<a ng-show="editIcon === 'adventure'"><em>edit <i class="fa fa-pencil-square-o"></i></em></a>-->
    </div> <!-- /adventure -->
    
    <!-- DEADLINE -->
    <div class="bottom-margin" ng-mouseover="edit.on = 'deadline'" ng-mouseout="edit.on = false">
        <strong>Deadline</strong>: 
        <span ng-if="edit.prop != 'deadline'">{{(quest.deadline | date: 'dd MMM yyyy, HH:mm') || 'none'}}</span>
        <em ng-show="edit.on === 'deadline' && !edit.prop" ng-click="edit.prop = 'deadline'">edit&nbsp; 
            <i class="fa fa-pencil-square-o"></i>
        </em>
        <div ng-if="edit.prop === 'deadline'" class="inline">
            <input 
                type="text" 
                datetime-picker="dd MMM yyyy HH:mm"
                ng-model="value" 
                is-open="datePicker.isOpen" 
                datepicker-options="datePicker.options"
                timepicker-options="datePicker.timeOptions"
                min-date="datePicker.min">
            <button class="input-button" ng-click="datePicker.open()">
                <i class="fa fa-calendar"></i>
            </button>
            <button class="input-button" ng-click="updateEntity('quests', quest.id, 'deadline', value)">
                <i class="fa fa-check"></i>
            </button>
            <button class="input-button" ng-click="edit.prop = false">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div> <!-- /deadline -->
    
    <div class="bottom-margin" ng-if="quest.deadline !== null">
        <strong>Time left</strong>: {{calculateTime(quest.deadline)}}
    </div>
    
    <div><strong>Status</strong>: {{quest.status}}</div>
    <oq-button-bar quest="quest"></oq-button-bar>
</div>