<oq-navbar title="Create new quest" icon="fa-plus"></oq-navbar>
<div class="main">
    <form class="form-horizontal" ng-submit="createQuest()" name="questCreation" novalidate>
        <div class="form-group creation">
            <label class="col-md-2 control-label" for="name">Name</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    ng-model="quest.name" 
                    ng-minlength="2"
                    ng-maxlength="50"
                    placeholder="name of your quest" 
                    required
                    type="text"> 
            </div>
            <div class="col-md-10 col-md-offset-2 messages" ng-messages="questCreation.name.$error">
                <div ng-messages-include="views/messages.html"></div>
            </div>
            
            <label class="col-md-2 control-label" for="description">Description</label>
            <div class="col-md-10">
                <textarea 
                    class="form-control" 
                    id="description" 
                    name="description" 
                    ng-model="quest.description" 
                    placeholder="what's this quest about..."
                    rows="5">
                </textarea>
            </div>
            
            <label class="col-md-2 control-label" for="category">Category</label>
            <div class="col-md-3">
                <select 
                    class="form-control" 
                    id="category" 
                    name="category"
                    ng-disabled="categories.length === 0 || newCategory.name.length > 0" 
                    ng-model="quest.category"
                    ng-options="category.id as category.name for category in categories">
                </select>
            </div>
            <label class="col-md-2 control-label" for="categoryCreation">create new</label>
            <div class="col-md-3">
                <input 
                    class="form-control" 
                    id="categoryCreation" 
                    name="categoryCreation"
                    ng-model="newCategory.name"  
                    placeholder="category name"
                    type="text"> 
            </div>
            <div class="col-md-2">
                <input 
                    colorpicker 
                    colorpicker-close-on-select
                    class="form-control" 
                    ng-model="newCategory.background"
                    placeholder="and color" 
                    type="text">
            </div>
            <div class="col-md-10 col-md-offset-2" ng-if="categoryError">
                <p class="messages">You haven't selected or created a category</p>
            </div>
            
            <label class="col-md-2 control-label" for="deadline">Deadline</label>
            <div class="col-md-10">
                <p class="input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        datetime-picker="dd MMM yyyy HH:mm" 
                        ng-model="quest.deadline" 
                        is-open="datePicker.isOpen" 
                        datepicker-options="datePicker.options"
                        timepicker-options="datePicker.timeOptions"
                        min-date="datePicker.min">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="datePicker.open()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <label class="col-md-2 control-label">In adventure?</label>
            <div class="col-md-10">
                <p class="padded" ng-if="adventures.length < 1">You haven't <a ui-sref="main.adventureCreation">created</a> any adventure yet</p>
                <select class="form-control" ng-if="adventures.length > 0" ng-model="quest.adventure">
                    <option value="">no</option>
                    <option ng-repeat="option in adventures">{{option.name}}</option>
                </select>
            </div>  
                     
            <div class="col-md-11 col-md-offset-1">
                <button type="submit" class="btn btn-default btn-lg btn-block" ng-disabled="!questCreation.$valid">Create quest</button>
                <div class="alert alert-success" ng-if="createdQuest == true">
                    Your quest has been successfully created!
                </div>
            </div>
        </div>
    </form>
</div>