<oq-navbar title="Create new quest" icon="fa-plus"></oq-navbar>
<div class="main">
    <form class="form-horizontal" ng-submit="createQuest()" name="questCreation">
        <div class="form-group creation">
            <label class="col-md-2 control-label" for="name">Name</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    ng-model="quest.name" 
                    placeholder="name of your quest" 
                    required
                    type="text"> 
            </div>
            
            <label class="col-md-2 control-label" for="description">Description</label>
            <div class="col-md-10">
                <textarea 
                    class="form-control" 
                    id="description" 
                    name="description" 
                    ng-model="quest.description" 
                    placeholder="what's this quest about..."
                    rows="5">
                </textarea>
            </div>
            
            <label class="col-md-2 control-label" for="category">Category</label>
            <div class="col-md-3">
                <select 
                    class="form-control" 
                    id="category" 
                    name="category"
                    ng-disabled="data.categories.length === 0 || newCategory.name.length > 0" 
                    ng-model="quest.category"
                    ng-options="category.id as category.name for category in data.categories">
                </select>
            </div>
            <label class="col-md-2 control-label" for="categoryCreation">create new</label>
            <div class="col-md-3">
                <input 
                    class="form-control" 
                    id="categoryCreation" 
                    name="categoryCreation"
                    ng-model="newCategory.name"  
                    placeholder="category name"
                    type="text"> 
            </div>
            <div class="col-md-2">
                <input 
                    class="form-control colorPicker" 
                    ng-model="newCategory.color"
                    placeholder="and color" 
                    type="text">
            </div>
            <div class="col-md-10 col-md-offset-2" ng-if="categoryError">
                <p class="messages">You haven't selected or created a category</p>
            </div>
            
            <label class="col-md-2 control-label" for="deadline">Deadline</label>
            <div class="col-md-10">
                <div class="input-group date" id="datetimepicker">
                    <input 
                        id="deadline" 
                        class="form-control"
                        name="deadline" 
                        ng-model="quest.deadlineFormatted" 
                        placeholder="optional; use the datepicker on the right"
                        type="text"> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            
            <label class="col-md-2 control-label">In adventure?</label>
            <div class="col-md-2">
                <input id="adventure" type="checkbox" ng-click="toggleAdventures()">
            </div>
            <label 
                class="col-md-3 control-label animate-if" 
                for="selectAdventure" 
                ng-if="quest.hasAdventure && adventures.length > 0">
                select adventure
            </label>
            <div class="col-md-5 animate-if" ng-if="quest.hasAdventure">
                <select 
                    class="form-control" 
                    id="selectAdventure" 
                    name="selectAdventure" 
                    ng-if="adventures.length > 0"
                    ng-init="quest.adventure = adventures[0]"
                    ng-model="quest.adventure"
                    ng-options="option for option in adventures">
                </select>
                <p ng-if="adventures.length === 0">Please create an adventure first.</p>
            </div>   
                     
            <div class="col-md-11 col-md-offset-1">
                <button type="submit" class="btn btn-default btn-lg btn-block">Create quest</button>
            </div>
        </div>
    </form>
</div>