<div ng-repeat="quest in quests | filter: {id: selectedQuest}">
    <!-- TITLE -->
    <div class="centered" ng-mouseover="edit.on = 'title'" ng-mouseout="edit.on = false">
        <h1 ng-if="edit.prop != 'title'">{{quest.name}}</h1>
        <em ng-show="edit.on == 'title' && !edit.prop" ng-click="edit.prop = 'title'">edit&nbsp;
            <i class="fa fa-pencil-square-o"></i>
        </em>
        <form 
            name="titleEdit" 
            ng-if="edit.prop == 'title'" 
            ng-submit="updateEntity('quests', quest.id, 'name', value, titleEdit.$valid)"
            novalidate> 
            <input 
                name="title" 
                ng-maxlength="50" 
                ng-minlength="2"
                ng-model="value" 
                placeholder="{{quest.name}}"
                required 
                type="text"> 
            <button class="input-button">
                <i class="fa" ng-class="{'fa-check': titleEdit.$valid, 'fa-times': !titleEdit.$valid}"></i>
            </button>
            <div class="messages" ng-messages="titleEdit.title.$error">
                <div ng-messages-include="views/messages.html"></div>
            </div>
        </form>
    </div> <!-- /title -->
    
    <!-- DESCRIPTION -->
    <div class="page-header"><h5>Description</h5></div>
    <div ng-mouseover="edit.on = 'description'" ng-mouseout="edit.on = false">
        <div 
            class="description" 
            ng-bind-html="quest.description | linky : '_blank'"
            ng-if="edit.prop != 'description'">
        </div>
        <em 
            ng-click="edit.prop = 'description'"
            ng-show="(edit.on === 'description' && !edit.prop) || quest.description.length === 0">edit&nbsp; 
            <i class="fa fa-pencil-square-o"></i>
        </em>
        <form
            name="descriptionEdit"
            ng-if="edit.prop == 'description'"
            ng-submit="updateEntity('quests', quest.id, 'description', value)">
            <textarea 
                class="form-control bottom-margin"
                ng-init="value = quest.description"
                ng-model="value" 
                rows="5">
            </textarea>
            <button><i class="fa fa-check"></i></button>
            <button><i class="fa fa-times" ng-click="edit.prop = false"></i></button>
        </form>
    </div>
    
    <div class="page-header"><h5>Details</h5></div>
    
    <p ng-mouseover="editIcon = 'category'" ng-mouseout="editIcon = false">
        <strong>Category</strong>: <oq-label></oq-label>
        <a ng-show="editIcon === 'category'"><em>edit <i class="fa fa-pencil-square-o"></i></em></a>
    </p>
    
    <p ng-mouseover="editIcon = 'adventure'" ng-mouseout="editIcon = false">
        <strong>Adventure</strong>: {{quest.adventure || 'none'}}
        <a ng-show="editIcon === 'adventure'"><em>edit <i class="fa fa-pencil-square-o"></i></em></a>
    </p>
    
    <p ng-mouseover="editIcon = 'deadline'" ng-mouseout="editIcon = false">
        <strong>Deadline</strong>: {{(quest.deadline | date: 'dd MMM yyyy, HH:mm') || 'none'}}
        <a ng-show="editIcon === 'deadline'"><em>edit <i class="fa fa-pencil-square-o"></i></em></a>
    </p>
    
    <p ng-if="quest.deadline !== null">
        <strong>Time left</strong>: {{calculateTime(quest.deadline)}}
    </p>
    
    <p><strong>Status</strong>: {{quest.status}}</p>
    
    <oq-button-bar quest="quest"></oq-button-bar>
</div>