<oq-navbar title="Quests" icon="fa-flag"></oq-navbar>
<div class="main">
    <div class="col-md-12">
        <div class="panel panel-default" id="quest-sidebar" ng-class="{collapsed: collapsed}">
            <div class="panel-heading">
                <h4>
                    <span class="animate-if" ng-if="!collapsed">Select quest</span>
                    <i class="fa" ng-class="{'fa-chevron-left': !collapsed, 'fa-chevron-right': collapsed}" ng-click="collapsed=!collapsed"></i>
                </h4>             
            </div>
            <div class="panel-body animate-show" ng-show="!collapsed">
                <input type="text" class="form-control input-sm" ng-model="query" placeholder="&#xf002;   search quest">
                <select class="form-control input-sm" ng-model="order"> 
                    <option value="" disabled>order by</option>
                    <option value="name">name</option>
                    <option value="-deadline">deadline</option>
                    <option value="category">category name</option>
                </select> 
                <label><input type="checkbox" ng-click="include('active')" checked>active</label>
                <label><input type="checkbox" ng-click="include('completed')">completed</label>
                <label><input type="checkbox" ng-click="include('failed')">failed</label>    
            </div>
            <ul class="list-group animate-show" ng-show="!collapsed">
                <li class="list-group-item animate-if" ui-sref="main.quests.questDetail({id: quest.id})" ng-repeat="quest in quests | filter: query | questStatus: statuses | orderBy: order">
                    {{quest.name}} &nbsp; 
                    <oq-label></oq-label>
                </li>
            </ul>
        </div>
        <div id="quest-content" ng-class="{collapsed: collapsed}">
            <ui-view></ui-view>
        </div>
    </div>
</div>